<h1 > test </h1>
<h1>Hello {{name}}</h1>
<p> Email : {{email}} </p>
<p><strong> Address: </strong> {{address.street}}</p>
<p><strong> City: </strong> {{address.city}}</p>

<button (click)="toggleHobbies()"> ShowHobbies </button>
<h2> Hobbies </h2>
{{ hobbies}}
<div *ngIf="showHobbies">
<ul>
  <li *ngFor="let hobby of hobbies; let i=index">
       {{hobby}} <button (click)="deleteHobby(i)">Delete</button>
  </li>
  </ul>
  <form (submit)="addHobby(hobby.value)">
    <label> Add Hobby</label> <br />
    <input type="text" #hobby  />
  </form>
  </div>
  <form>
    <label> Name</label> <br />
    <input type="text" name="name" [(ngModel)]="name" />
    <label> <br> Email</label> <br />
    <input type="text" name="email" [(ngModel)]="email" />
    <label> <br> Street</label> <br />
    <input type="text" name="address.street" [(ngModel)]="address.street" />
    <label> <br> City</label> <br />
    <input type="text" name="address.city" [(ngModel)]="address.city" />
  </form>
  <hr />
  <h3>Posts </h3>
  <div *ngFor="let post of posts">
     <h3>  {{ post.title }} </h3>
     <p> {{post.id}} </p>
     <p> {{post.body}} </p>
    </div>
